In [ ]:
import requests
import json
import time
import csv
import pandas as pd

In [ ]:
api_url='https://data.ojp.usdoj.gov/resource/gcuy-rt5g.csv?$limit=1500000'

In [ ]:
download = requests.get(api_url)

In [ ]:
download

In [ ]:
from io import StringIO
text=StringIO(download.content.decode('utf-8'))
df=pd.read_csv(text)

In [ ]:
df

,idper,yearq,year,ager,sex,hispanic,race,race_ethnicity,hincome1,hincome2,...,weapcat,injury,serious,treatment,offenderage,offendersex,offtracenew,wgtviccy,series,newwgt
0,210176836193319999999923301,2004.1,2004,2,2,2,2,2,1,-1,...,0,0,1,0,3,1,-1,1952.973730,1,1952.973730
1,254207015147069329204211203,2009.1,2009,1,1,2,1,1,7,-1,...,2,0,1,0,5,1,-1,5570.687730,1,5570.687730
2,210313595043196799999912102,2004.1,2004,4,1,2,1,1,5,-1,...,0,0,1,0,4,1,-1,3366.957480,1,3366.957480
3,252018211553075329282015501,2011.4,2011,3,1,1,1,6,5,-1,...,0,0,1,0,88,1,-1,6991.560610,1,6991.560610
4,210376205057919299999921201,2004.1,2004,2,1,2,1,1,6,-1,...,0,1,3,1,3,3,-1,2834.649050,1,2834.649050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63460,175644020856124356443623301,2021.3,2021,2,2,2,1,1,7,3,...,0,0,1,0,4,1,1,1255.609375,1,1255.609375
63461,183682680382578456365612501,2021.3,2021,4,2,2,1,1,7,5,...,0,0,1,0,3,1,2,842.529114,1,842.529114
63462,204444199256608656440816204,2021.4,2021,1,1,2,1,1,7,3,...,0,1,3,1,1,1,7,1029.867432,1,1029.867432
63463,190149418435658458825913602,2021.3,2021,2,1,2,1,1,6,3,...,1,0,1,0,2,1,1,5833.862305,1,5833.862305
63464,190136353341087156593813701,2021.3,2021,4,1,1,1,6,7,3,...,1,1,3,1,5,3,1,2835.449463,1,2835.449463

In [ ]:
df.to_csv ('victimization.csv')

In [ ]:
#with open('victimization', 'w') as f:
#         json.dump(download.json(),f)

In [ ]:
api_url2='https://data.ojp.usdoj.gov/resource/r4j4-fdwx.csv?$limit=1500000'

In [ ]:
download2 = requests.get(api_url2)

In [ ]:
from io import StringIO
text=StringIO(download2.content.decode('utf-8'))
df2=pd.read_csv(text)
df2.to_csv ('population.csv')

In [ ]:
#with open('population', 'w') as f:
#         json.dump(download2.json(),f)

In [ ]:
api_url3='https://data.ojp.usdoj.gov/resource/ynf5-u8nk.csv?$limit=1500000'

In [ ]:
download3 = requests.get(api_url3)

In [ ]:
from io import StringIO
text=StringIO(download3.content.decode('utf-8'))
df2=pd.read_csv(text)
df2.to_csv ('Recidivism.csv')

In [ ]:
#with open('Recidivism', 'w') as f:
 #         json.dump(download3.json(),f)

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
#!cp '/content/victimization'  '/content/drive/MyDrive/stats_proj/'
#!cp '/content/population'  '/content/drive/MyDrive/stats_proj/'
#!cp '/content/Recidivism'  '/content/drive/MyDrive/stats_proj/'

In [ ]:
!cp '/content/victimization.csv'  '/content/drive/MyDrive/stats_proj/'
!cp '/content/population.csv'  '/content/drive/MyDrive/stats_proj/'

In [ ]:
!cp '/content/Recidivism.csv'  '/content/drive/MyDrive/stats_proj/'